#ifndef __CONFIG_EXAMPLE_
#define __CONFIG_EXAMPLE_

//                      ssid        password
#define SSID_PARAMS_1 "example",    "example"

//                      ssid         password
#define SSID_PARAMS_2 "example",     "example"

#define SERVICE_UUID "xxxx-xxx-xxxxx-xxxxxx-xxxxxxxx"
#define TOKEN_UUID "xxxxxx-xxxxx-xxxxx-xxxxx-xxxxx"
#define ACTIVE_TIME_UUID "xxxxx-xxxxx-xxxxxx-xxxxx-xxxxxx"
#define DEVICE_ID "3232329xxxx8e8283921"

#define SERVER_URL "https://iot-devices.vercel.app/device/verify/"
#define IS_HTTPS true
#define HTTPS_CERTIFICATE "-----BEGIN CERTIFICATE-----\nMIIFKzCCBBOgAwIBAgISBAReJKREAUAgfcjS0k3EIjMNMA0GCSqGSIb3DQEBCwUA\
\nMDIxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQD\nEwJSMzAeFw0yMTEwMjExNDMzNDZaFw0yMjAxMTkxNDMzNDVaMBcxFTATBgNVBAMM\n\
DCoudmVyY2VsLmFwcDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOSc\nekHsNqQ3FO0kBwdMsRQ8zpf4ZszFfqw3yg2uzTobiNfSUrz2Gp9A38lIyGVm10ZA\n\
cSrV5VDYI3t2Amhc8ao2AL/n75oxDBsGrfR9E0WxzXBTINhqmHwoxOXmYUnKufir\n3Z0rKhwFnFjNN7i3MF119m4h2lhaI9vqctP3d6cjeAsTP0NCuR9dgulgHw/pQG2F\n\
SOiQSW8lh5y8EL2+ifwcjY0xin0BHjhHuLYp88r2p/RT1S/kJTFXf9rjCR70b6pC\n3p7YV1mxtclmoJXiKwFyn/O6XTqToa2pbdPu9mbGPv4z9Glq0a8ZKAiOHHz2lnF4\n\
ZKlahJfPiExyqDnIiCMCAwEAAaOCAlQwggJQMA4GA1UdDwEB/wQEAwIFoDAdBgNV\nHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4E\n\
FgQUizeEcgr8t+RJ4ZH4jjeJgPZQ2NkwHwYDVR0jBBgwFoAUFC6zF7dYVsuuUAlA\n5h+vnYsUwsYwVQYIKwYBBQUHAQEESTBHMCEGCCsGAQUFBzABhhVodHRwOi8vcjMu\n\
by5sZW5jci5vcmcwIgYIKwYBBQUHMAKGFmh0dHA6Ly9yMy5pLmxlbmNyLm9yZy8w\nIwYDVR0RBBwwGoIMKi52ZXJjZWwuYXBwggp2ZXJjZWwuYXBwMEwGA1UdIARFMEMw\n\
CAYGZ4EMAQIBMDcGCysGAQQBgt8TAQEBMCgwJgYIKwYBBQUHAgEWGmh0dHA6Ly9j\ncHMubGV0c2VuY3J5cHQub3JnMIIBBQYKKwYBBAHWeQIEAgSB9gSB8wDxAHYA36Ve\n\
q2iCTx9sre64X04+WurNohKkal6OOxLAIERcKnMAAAF8o3yiugAABAMARzBFAiBM\npilP1dg8I0SniY/ygMCOzCWNLcKl24gLB7S9Xb1F1wIhAPWLSks+0flGZ4WEUdLX\n\
CgncL/zuOvjeAm3PTONEgtBIAHcAKXm+8J45OSHwVnOfY6V35b5XfZxgCvj5TV0m\nXCVdx4QAAAF8o3yiqwAABAMASDBGAiEAmbbHkNNvZvA0wUt8JUQEgMJV1tTf89Sj\n\
OxXGrfpwDcICIQC6sb0L6HtBnEPvfezIrwnY2iLobPCssobCC2CC7QYn2TANBgkq\nhkiG9w0BAQsFAAOCAQEASdwvK6xEBhxVDzBQWAFMjdSGcMR86mX9i5VvGKN3ZlMw\n\
V0dNKfwCKcPZpg3xgfTjFI/RdNlqHJq9v/VTBdf3JR04IC6AovaHHapHiumpKQOO\nzq75oxg6f+zKAyqIm+8NoIAEeNWZo+nrmxJkcbyfczGepOXvyD08DG/A8Oj9qqKt\n\
GtzcCG//9/kUgqRXSiSBssQahlcwTVK0WZFKoHJCEpcA4Opble8MecYFgxuVjCOW\nOc8jJWeGGWS1Qp2TAZgJN8Ksu/J14BPN8HsZS3cSMGrHSuEHkgkMfbfIHOxRN36P\n\
yQnD/aWlqs5sjgIslPEMb27YNMUS63WFZkRtgjC6Pw==\n\
-----END CERTIFICATE-----\n"

#endif