#ifndef __CONFIG_EXAMPLE_
#define __CONFIG_EXAMPLE_

//                      ssid        password
#define SSID_PARAMS_1 "example",    "example"

//                      ssid         password
#define SSID_PARAMS_2 "example",     "example"

#define SERVICE_UUID "xxxx-xxx-xxxxx-xxxxxx-xxxxxxxx"
#define TOKEN_UUID "xxxxxx-xxxxx-xxxxx-xxxxx-xxxxx"
#define ACTIVE_TIME_UUID "xxxxx-xxxxx-xxxxxx-xxxxx-xxxxxx"
#define SERVER_URL "http://localhost/device/verify/"
#define DEVICE_ID "3232329xxxx8e8283921"

#endif